<div style="background-color: darkturquoise;">
    <h3>Vacunes</h3>
    <div>
        <h4 style="background-color: cornflowerblue;">
            Vaccinated: {{vacSize}}
        </h4>
        <div>
            <ul>
                <li *ngFor="let person of vacArr">
                    <first-test
                    name={{person.name}}
                    age={{person.age}}
                    date={{person.date}}
                    disease={{person.disease}}
                    vaccineType={{person.vaccineType}}
                    vaccined={{person.vaccined}}
                    doses={{person.doses}}
                    (vaccinate)="vaccinate($event)"
                    ></first-test>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h4 style="background-color: cornflowerblue;">
            Not Vaccinated: {{noVacSize}}
        </h4>
        <div>
            <ul>
                <li *ngFor="let person of noVacArr">
                    <first-test
                    name={{person.name}}
                    age={{person.age}}
                    date={{person.date}}
                    disease={{person.disease}}
                    vaccineType={{person.vaccineType}}
                    vaccined={{person.vaccined}}
                    doses={{person.doses}}
                    (vaccinate)="vaccinate($event)"
                    ></first-test>
                </li>
            </ul>
        </div>
    </div>
</div>