<button (click)="addVideo()">addVideo</button>
<button (click)="unsubA()">unsubA</button>
<br>
<p directive1 [color]="dirTest" (outputTest)='test($event)'>Directiva de atributo</p>
<input type="text" [(ngModel)]="dirTest">
<br>
<input type="checkbox" [(ngModel)]="switch">
<div *ngIfIgnacio="switch" (test)="test($event)">
    Structural directive
</div>
<!--
<ignacio [status]="myStatus" (onSendData)="printData($event)">
</ignacio>
<test2 name="Ignacio" lastName="del Rio" (sendData)="printNames($event)">
    <p>Mi contenido de ng content</p>
</test2>
<div>
    <input type="text" [(ngModel)]="varCh">
    <button (click)="varBool = !varBool">Show Test3</button>
    <div *ngIf="varBool else myLocalVar">
        <test3 [myvar]="varCh"></test3>
    </div>
</div>
<div [hidden]="!varBool">
    <test3 [myvar]="varCh"></test3>
</div>
<div style="border: 5px blueviolet solid;">
    <ul>
        <li *ngFor="let item of [1,2]; let i = index">
            {{item}} -> {{i}}
        </li>
    </ul>
</div>
<div style="border: 5px gray solid;">
    <ul>
        <li *ngFor="let item of [1,2,3,4]">
            <div [ngClass]="{
                'est4': item%2 === 1,
                'est5': item%2 === 0
            }">
                <ignacio [styleVar]="item" (onSendData)="printData($event)">
                </ignacio>
            </div>
        </li>
    </ul>
</div>
<div style="border: 5px yellow solid;">
    <input type="text" [(ngModel)]="color">
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'red'">red</li>
        <li *ngSwitchCase="'yellow'">yellow</li>
        <li *ngSwitchCase="'green'">green</li>
        <li *ngSwitchDefault>Black</li>
    </ul>
</div>
<ng-template #myLocalVar>
    <p>Hola</p>
</ng-template>
<div [style.border]="'5px solid ' + color">
    <input type="text" [(ngModel)]="color">
    <button (click)="varBool = !varBool">Show Test3</button>
    <br>
    <ng-container *ngIf="varBool else myLocalVar">
        NG Container
    </ng-container>
</div>
<div [ngStyle]="{'border': '5px solid ' + color}">
    <input type="text" [(ngModel)]="color">
    <button (click)="varBool = !varBool">Show Test3</button>
    <br>
    <ng-container *ngIf="varBool else myLocalVar">
        NG Container
    </ng-container>
</div>
<div [class.est1]="color === 'hola'">
    my div with class
</div>
<div [ngClass]="{
    'est1': color === 'hola0',
    'est2': color === 'hola1',
    'est3': color === 'hola2'
}">
    my div with ngclass
</div>
-->